/*main*/
#content-block{position: relative; overflow: hidden; left: 0;}
#content-block *:last-child:not(.empty-space){margin-bottom: 0;}

.simple-article{font-size: 14px; line-height: 24px; color: #222;}
.simple-article.small{font-size: 13px; line-height: 24px;}
.simple-article.large{font-size: 15px; line-height: 24px;}
.simple-article.light{color: #fff;}
.simple-article.grey{color: #989898;}
.simple-article.transparent{color: rgba(34,34,34,.7);}
.simple-article.light.transparent{color: rgba(255,255,255,.7);}
.simple-article.grey.transparent{color: rgba(152,152,152,.7);}
.simple-article img{max-width: 100%; height: auto; display: block;}
.simple-article ol{counter-reset: number;}
.simple-article ol li{padding-left: 0; margin-bottom: 8px;}
.simple-article ol li:before{counter-increment: number; content: "#" counter(number); color: #10ace0; margin-right: 5px;}
.simple-article ul li{margin-bottom: 8px;}
.simple-article ul li:before{content: ""; width: 15px; height: 1px; background: currentColor; display: inline-block; margin: 0 6px 0 15px; vertical-align: middle; position: relative; top: -1px;}
.simple-article ul.no-dash li:before{display: none;}
.simple-article h1, .h1, .simple-article h2, .h2, .simple-article h3, .h3, .simple-article h4, .h4, .simple-article h5, .h5, .simple-article h6, .h6{color: #222; margin: 0; font-weight: 400;}
.simple-article.light h1, .simple-article.light .h1, .h1.light, .simple-article.light h2, .simple-article.light .h2, .h2.light, .simple-article.light h3, .simple-article.light .h3, .h3.light, .simple-article.light h4, .simple-article.light .h4, .h4.light, .simple-article.light h5, .simple-article.light .h5, .h5.light, .simple-article.light h6, .simple-article.light .h6, .h6.light{color: #fff;}
.simple-article h1, .h1{font-size: 90px; line-height: 1em;}
.simple-article h1.small, .h1.small{font-size: 80px; line-height: 1em;}
.simple-article h2, .h2{font-size: 60px; line-height: 1em;}
.simple-article h2.small, .h2.small{font-size: 40px; line-height: 1em;}
.simple-article h3, .h3{font-size: 34px; line-height: 1em;}
.simple-article h3.small, .h3.small{font-size: 28px; line-height: 30px;}
.simple-article h4, .h4{font-size: 24px; line-height: 30px;}
.simple-article h4.small, .h4.small{font-size: 18px; line-height: 24px;}
.simple-article h5, .h5{font-size: 16px; line-height: 24px;}
.simple-article h5.small, .h5.small{font-size: 15px; line-height: 24px; }
.simple-article h6, .h6{font-size: 14px; line-height: 24px;}
.simple-article h6.small, .h6.small{font-size: 12px; line-height: 24px;}
.simple-article a:hover{text-decoration: underline;}
.simple-article a.button:hover, .simple-article a.mouseover-simple:hover{text-decoration: none;}
.simple-article.border-left{padding-left: 30px; border-left: 3px #222 solid;}
.simple-article.light.border-left{border-left-color: #fff;}
.simple-article br{line-height: 30px;}
.title-line{margin-bottom: 30px;}
.title-line span{height: 5px; width: 30px; display: inline-block; vertical-align: bottom; background: currentColor;}

/* Tablets (>=768px)*/
@media (max-width: 991px) {
	.page-height.tablets-initial, body.min-height .page-height.tablets-initial{height: auto!important;}
	.simple-slider{height: 600px;}
}
/*Phones (<768px)*/
@media (max-width: 767px) {
	.page-height.responsive-initial, body.min-height .page-height.responsive-initial{height: auto!important;}
	.wide-container-fluid, .wide-container-fluid.wide-paddings, .wide-container{padding: 0 15px;}
	.simple-slider, .simple-slider.style-1{height: 300px;}
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - HOMEPAGE 3 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.fonts-2{font-family: 'Roboto Slab', serif;}

.homepage-3-container, .slice-slider-container{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.slice-slider-container .pagination{right: 50px; margin:70px 15px; transform: translateY(-50%); -webkit-transform: translateY(-50%);  padding: 10px 0; float:right; }
.slice-slider-container .pagination .point{width: 10px; height: 10px; border-radius: 50%; -webkit-border-radius: 50%; color: rgba(0,0,0,.5); background: currentColor; margin-bottom: 15px; cursor: pointer; position: relative;}
.slice-slider-container .pagination .point.active{color: rgba(0,0,0,1);}
.slice-slider-container .pagination .point:before{position: absolute; content: ""; border: 1px currentColor solid; content: ""; left: 0; top: 0; right: 0; bottom: 0px; border-radius: 50%; -webkit-border-radius: 50%; opacity: 0;}
.slice-slider-container .pagination .point:hover:before{opacity: 1; left: -3px; top: -3px; right: -3px; bottom: -3px;}
.slice-slider-left-column, .slice-slider-right-column{position: absolute; left: 0; top: 0; bottom: 0; width: 50%;}
.slice-slider-right-column{left: auto; right: 0;}
.slice-slider-wrapper{position: relative; height: 100%;}
.slice-slider-slide{position: relative; height: inherit; overflow: hidden;}
.slice-slider-slide-left, .slice-slider-slide-right{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-position: center center;}
.slice-slider-left-column .slice-slider-slide-right{display: none;}
.slice-slider-right-column .slice-slider-slide-left{display: none;}

.slice-slider-align-1{position: absolute; width: 58%; left: 21%; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.slice-slider-align-1.top, .slice-slider-align-1.bottom{transform: none; top: 55px; z-index: 2;}
.slice-slider-align-1.bottom{top: auto; bottom: 55px;}
.slice-slider-align-1 .label-wrapper{font-size: 13px; line-height: 23px; color: #fff;}
.slice-slider-align-1 .label-wrapper i{color: rgba(255,255,255,.7);}
.slice-slider-align-2{position: absolute; width: 58%; left: 21%; top: 115px; bottom: 115px;}
.slice-slider-align-2 .project-thumbnail{position: absolute; left: 0; top: 0; width: 100%; bottom: 54px; background-size: cover; background-position: center top;}
.slice-slider-align-2 .rotate-wrapper{position: absolute; width: 54px; height: 100%; left: -54px; top: 0;}
.slice-slider-align-2 .rotate-wrapper .rotate{padding-left: 54px; font-size: 13px; line-height: 24px; color: #989898;}
.slice-slider-align-2 .label-wrapper{font-size: 13px; line-height: 24px; color: #222; position: absolute; left: 0; width: 100%; padding: 15px 0; bottom: 0;}
.slice-slider-align-2 .label-wrapper i{color: #989898;}

.slice-align-animation{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-position: center center;}
.slice-slider-slide.next .slice-align-animation.parallax{transform: translateY(-60%); -webkit-transform: translateY(-60%);}
.slice-slider-slide.prev .slice-align-animation.parallax{transform: translateY(60%); -webkit-transform: translateY(60%);}
.slice-slider-slide.active .slice-align-animation.parallax{transform: translateY(0%); -webkit-transform: translateY(0%);}

.slice-slider-slide.next .slice-align-animation.scale{transform: scale(1.2); -webkit-transform: scale(1.2);}
.slice-slider-slide.prev .slice-align-animation.scale{transform: scale(0.8); -webkit-transform: scale(0.8);}
.slice-slider-slide.active .slice-align-animation.scale{transform: scale(1); -webkit-transform: scale(1);}

.slice-slider-slide.next .slice-align-animation.rotate3d{transform: perspective(1000px) rotateX(-90deg); -webkit-transform: perspective(1000px) rotateX(-90deg); transform-origin: 50% 0; -webkit-transform-origin: 50% 0;}
.slice-slider-slide.prev .slice-align-animation.rotate3d{transform: perspective(1000px) rotateX(90deg); -webkit-transform: perspective(1000px) rotateX(90deg); transform-origin: 50% 100%; -webkit-transform-origin: 50% 100%;}
.slice-slider-slide.active .slice-align-animation.rotate3d{transform: rotateX(0deg) perspective(1000px); -webkit-transform: rotateX(0deg) perspective(1000px);}

@media (max-height: 600px), (max-width: 1300px) {
	.slice-slider-align-1{width: 84%; left: 8%;}
	.slice-slider-align-1.top{top: 30px;}
	.slice-slider-align-1.bottom{bottom: 30px;}
}

/* Tablets (>=768px)*/
@media (max-width: 991px) {
	.slice-slider-left-column{display: none;}
	.slice-slider-right-column .slice-slider-slide-left{display: block;}
	.homepage-3-container, .slice-slider-container, .slice-slider-right-column, .slice-align-animation, .slice-slider-align-1, .slice-slider-slide-left, .slice-slider-slide-right, .slice-slider-align-2{position: relative; height: auto; left: auto; top: auto; bottom: auto; right: auto; width: auto; height: auto; transform: none!important; -webkit-transform: none!important;}
	.slice-slider-wrapper{top: 0!important;}
	.slice-slider-container .pagination{display: none;}
	.slice-slider-align-2{margin: 0 65px; height: 500px;}
	.slice-slider-align-1{padding: 65px;}
	.slice-slider-slide{margin-bottom: 54px;}
	body.home-3 header.light .hamburger-icon span{background: #444;}
	.slice-slider-align-1.top, .slice-slider-align-1.bottom{position: relative; top: auto; bottom: auto;}
}
/*Phones (<768px)*/
@media (max-width: 767px) {
	.slice-slider-align-2 .rotate-wrapper{display: none;}
	.slice-slider-align-2{margin: 0 15px;}
	.slice-slider-align-1{padding: 30px 15px;}
	.slice-slider-slide{margin-bottom: 15px;}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 09 - HOMEPAGE 8 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.homepage-8-container{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.slice-slider-container.style-1 .slice-slider-slide-right{top: 40px; right: 40px; bottom: 40px; left: 50%; height: auto; width: auto; z-index: 2;}
.slice-slider-container.style-1 .slice-slider-left-column, .slice-slider-container.style-1 .slice-slider-right-column{width: 100%;}
.slice-slider-container.style-1 .slice-slider-align-1{left: auto; right: auto; width: 100%; padding: 0 85px; max-width: 675px;}
.slice-slider-container.style-1 .pagination{z-index: 2; right: 80px;}
.inline-tags:before, .inline-tags:after{width: 15px; height: 1px; background: currentColor; display: inline-block; content: ""; vertical-align: middle; margin-right: 15px; position: relative; top: -1px;}
.inline-tags:after{margin-right: 0; margin-left: 15px; display: none;}

@media (max-height: 600px), (max-width: 1300px) {
	.slice-slider-container.style-1 .slice-slider-align-1{padding: 0 30px;}
	.slice-slider-container.style-1 .pagination{right: 19px;}
}

/* Tablets (>=768px)*/
@media (max-width: 991px) {
	.homepage-8-container{position: relative; left: auto; top: auto; width: auto; height: auto;}
	.slice-slider-container.style-1 .slice-slider-slide-right{top: auto; right: auto; bottom: auto; left: auto;}
	.slice-slider-container.style-1 .slice-slider-slide{margin-bottom: 0;}
	.slice-slider-container.style-1 .slice-slider-slide-left{height: 500px;}
	.slice-slider-container.style-1 .slice-slider-slide-left .slice-align-animation{position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
	.slice-slider-container.style-1 .slice-slider-align-1{max-width: 100%; padding: 0;}
	.slice-slider-container.style-1 .slice-slider-slide-right .slice-align-animation{padding: 30px;}
}

/*Phones (<768px)*/
@media (max-width: 767px) {
	.slice-slider-container.style-1 .slice-slider-slide-left{height: auto; padding-bottom: 80%;}
	.slice-slider-container.style-1 .slice-slider-slide-right .slice-align-animation{padding: 30px 15px;}
}