.bg-dark-purple {
  background: #422469;
}

.white {
  color: #fff;
}

.purple {
  color: #573388;
}

.secondary-color {
  color: #596780;
}

.color-grey {
  color: #696F7A;
}

.title-color {
  color: #1D2433;
}

.color-green {
  color: #6BA20A !important;
}

.green-one {
  color: #76B900;
}

.black {
  color: black;
}

.purple-one {
  color: #5B398E;
}

.purple-two {
  color: #5C398E;
}
.text-grey{
  color: #D8D8D8;
}