@media (max-width: 767px) {
  .left-right-pad-60 {
    padding: 0px !important;
  }
  .hero-left {
    width: 100% !important;
    padding: 10px 20px !important;
  }
  .hero-right {
    width: 100% !important;
  }
  .footer-inside {
    margin: 0px !important;
    border-radius: 0px !important;
    padding: 0px !important;
  }
  .map-box iframe {
    border-radius: 0px !important;
    margin-top: 15px;
  }
  .info p {
    font-size: 11px !important;
  }
  .info-box {
    width: 100% !important;
  }
  .recovery-step {
    padding: 0px !important;
    img {
      width: 100%;
    }
  }
  .about-header {
    padding: 20px 10px !important;
  }
  .about-bottom {
        padding: 0px 20px !important;
  }
  .desc {
    width: fit-content !important;
  }
  .hero {
    display: block;
  }
  .doctor-card {
    position: relative !important;
    bottom: 0px !important;
    left: 0px !important;
   border-radius: 0px !important;
  }
  .right-sec {
    border-radius: 0px !important;
}
.section-prop {
    display: contents !important;
}
.ws-1{
      word-spacing: -1px;
}

 .nav {
    position: fixed;    
    top: 0;
    right: -250px;      
    height: 100vh;     
    width: 250px;     
    background-color: #F1F6FC;
    padding: 10px 20px;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: right 0.3s ease;
    z-index: 9999;
}


  .nav.show {
    right: 0;
  }

  .nav a {
    margin: 12px 0;
    display: block;
    color: rgb(28 117 209);
  }



  .hamburger {
    display: flex;
  }
  .close-btn {
    font-size: 38px;
    font-weight: bold;
    color: #2B65D9;    
    cursor: pointer;
    margin-bottom: 20px;
    text-align: right;
    display: block !important;
}
.test-pad{
  padding: 0px !important;
}
.thumb {
      margin-top: 10px;
}
.thumb-row {
    grid-template-columns: repeat(6, 1fr) !important;
    overflow: scroll;
}
.mobile-view {
        margin: auto;
        justify-content: center;
        text-align: center;
        bottom: 20px;
        width: 200px;
        height: 50px;
        display: flex !important;
        align-items: center;
        position: absolute;
  a{
  color: white !important;
  }
}
.large-view {
  display: none !important;
}
.dtn-none {
  display: none !important;
}
.cta-btn {
    padding: 10px 11px !important;
}
.actions {
    gap: 10px !important;
}
#FAQ {
  margin-top: 30px;
}
.footer-text {
      font-size: 12px !important;
}
.header {
  justify-content: space-between;
    right: 0;
    align-items: center;
    padding: 20px 20px;
}
.choose-img-height {
      height: fit-content !important;
}
.scroll-top-btn {
  z-index: 99 !important;
}
}
@media (min-height: 690px) {

}
@media (min-width:768px) and (max-width:1200px){
  .left-right-pad-60 {
    padding: 0px !important;
  }
  .hero-left {
    width: 100% !important;
    padding: 10px 20px !important;
  }
  .hero-right {
    width: 100% !important;
  }
  .footer-inside {
    margin: 0px !important;
    border-radius: 0px !important;
    padding: 0px !important;
  }
  .map-box iframe {
    border-radius: 0px !important;
    margin-top: 15px;
  }
  .info p {
    font-size: 11px !important;
  }
  .info-box {
    width: 100% !important;
  }
  .recovery-step {
    padding: 0px !important;
    img {
      width: 100%;
    }
  }
  .about-header {
    padding: 20px 10px !important;
  }
  .about-bottom {
        padding: 0px 20px !important;
  }
  .desc {
    width: fit-content !important;
  }
  .hero {
    display: block;
  }
  .doctor-card {
    position: relative !important;
    bottom: 0px !important;
    left: 0px !important;
   border-radius: 0px !important;
  }
  .right-sec {
    border-radius: 0px !important;
}
.section-prop {
    display: contents !important;
}
.ws-1{
      word-spacing: -1px;
}

 .nav {
    position: fixed;    
    top: 0;
    right: -250px;      
    height: 100vh;     
    width: 250px;     
    background-color: #F1F6FC;
    padding: 10px 20px;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: right 0.3s ease;
    z-index: 9999;
}


  .nav.show {
    right: 0;
  }

  .nav a {
    margin: 12px 0;
    display: block;
    color: rgb(28 117 209);
  }



  .hamburger {
    display: flex;
  }
  .close-btn {
    font-size: 38px;
    font-weight: bold;
    color: #2B65D9;    
    cursor: pointer;
    margin-bottom: 20px;
    text-align: right;
    display: block !important;
}
.test-pad{
  padding: 0px !important;
}
.thumb {
      margin-top: 10px;
}
.thumb-row {
    grid-template-columns: repeat(6, 1fr) !important;
    overflow: scroll;
}
.mobile-view {
        margin: auto;
        justify-content: center;
        text-align: center;
        bottom: 20px;
        width: 200px;
        height: 50px;
        display: flex !important;
        align-items: center;
        position: absolute;
  a{
  color: white !important;
  }
}
.large-view {
  display: none !important;
}
.dtn-none {
  display: none !important;
}
.cta-btn {
    padding: 10px 11px !important;
}
.actions {
    gap: 10px !important;
}
#FAQ {
  margin-top: 30px;
}
.footer-text {
      font-size: 12px !important;
}
.header {
  justify-content: space-between;
    right: 0;
    align-items: center;
    padding: 20px 20px;
}
.choose-img-height {
      height: fit-content !important;
}
.scroll-top-btn {
  z-index: 99 !important;
}
}
@media (max-height: 630px) and (min-width: 1024px) {

}
